<head>
    <title>IB Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animations.css">
    <script src="/js/client.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-animate.js"></script>
</head>

<link rel="stylesheet" href="/css/animations.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-animate.js"></script>
<body ng-app="ngAnimate"><input type="checkbox" id="animate" ng-model="hide">
    <div class="check-element animate-hide" ng-hide="hide">
        <div class="container" ng-controller="RoomController">
            <div class="page-header">
                <h1>Multi-Device-Video</h1>
                <!--p>Andrew, Jeff, Han</p> !-->
            </div>
            <div class="row">
                <div class="span3">
                    <ul class="nav nav-list well">
                        <li class="nav-header">Other people online</li>
                        <li ng-repeat="user in roster" ng-bind="user"></li>
                    </ul>
                </div>
                <div class="span9">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="span2">User</th>
                                <th class="span5">Video</th>
                                <th class="span2">Join This Video</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="msg in messages">
                                <form ng-submit="joinRoom()">
                                    <td class="span2" ng-bind="msg.name"></td>
                                    <td id=c lass="span5" ng-bind="msg.text"></td>
                                    <td class="span2">
                                        <button onclick="joinRoom(this)" class="span1 btn btn-primary" ng-value="msg">Join<input type="checkbox" id="!hide"></input></td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row controls">
                        <form ng-submit="send()">
                            <div class="span2">
                                <input type="text" class="input-block-level" ng-model="name" ng-change="setName()"
                                placeholder="Your phone's ID">
                            </div>
                            <div class="input-append span7">
                                <input type="text" class="span6" ng-model="text" placeholder="The URL to the video you want to watch">
                                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <center>
            <button onclick="getScreenDimensions()">Get Screen Dimensions</button>
        </center>
    </div>
    
    <!-- div /-->
    
    <div class="check-element animate-hide" id="animate" ng-show="hide">
        <p>Content Here</p>
    </div>
    
</body>