extends layout

block title
	title Multi Device Video
	script(src="/Scripts/jquery.timeago.js")
block content
	h1 multi-device-video
	button#new-session Create new session
	p  Or join one
	input#sessionID(type='text', name='name')